// Colors
$rainbow: (
red: #FF0000,
yellow: #FFFF00,
green: #00FF00,
blue: #0000FF,
turquoise:#40e0d0
);

@each $name, $color in $rainbow {
  .#{$name}{
    border: 2px solid $color;
  }
}

#app{
  > section{
    width: 100vw;
    margin: 0 auto;

  }
  .search{
    min-height: 50px;

  }

  table{
    table-layout: fixed;
    border-collapse: collapse;
    padding: 15px;
    width:100%;

    tr {
      padding: 15px;
      &:nth-of-type(2n+1) {
        background-color: rgba(31, 130, 119, 0.3);
      }
    }
  }
}